.font-lobster{
    font-family: 'Lobster', cursive;
}

.font-anton{
    font-family: 'Anton', sans-serif;
}

/* .a{
    background-image: url('../image/night.jpg');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 600px;

}

.b {
    display: flex;

}

.b div{
    align-content: space-around;
}   
.b div img{

    width: 30%;
    margin-top: 20px;
    border-radius: 1px;
    padding: 5px;
    border: 1px solid white;
    background-color: azure;
}
 */

