<div class="card">
    <img src="../../static/image/night.jpg" class="card-img img-thumbnail">
        <h1 class="card-img-overlay text-light text-center">Khach hang binh chon</h1>
        <div class="d-flex justify-content-around card-img-overlay my-auto">
            <img src="../../static/image/rocks.jpg" style="width: 150px; height: 200px;" class="my-auto">
            <img src="../../static/image/rocks.jpg" style="width: 150px; height: 200px;;" class="my-auto">
            <img src="../../static/image/rocks.jpg" style="width: 150px; height: 200px;" class="my-auto">
            <img src="../../static/image/rocks.jpg" style="width: 150px; height: 200px;;" class="my-auto">
            <img src="../../static/image/rocks.jpg" style="width: 150px; height: 200px;" class="my-auto">
            <img src="../../static/image/rocks.jpg" style="width: 150px; height: 200px;" class="my-auto">
            <img src="../../static/image/rocks.jpg" style="width: 150px; height: 200px;" class="my-auto">
            <img src="../../static/image/rocks.jpg" style="width: 150px; height: 200px;" class="my-auto">
        </div>
</div>