<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Admin</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script>
</head>
<body>
    <h1>Hello World</h1>
    <a href="{{url_for('logout')}}">Đăng Xuất</a>
    <a href="{{url_for('index')}}">Trang chủ</a>
    <table border="1px">
        <thead>
            <th>STT</th>
            <th>Name</th>
            <th>Jobs</th>
            <th>Company</th>
            <th>Gender</th>
            <th>Phone</th>
            <th>Mesurement</th>
            <th>Description</th>
            <th>Email</th>
                 
            <th>Thay Đổi</th>
            <th>Đang xử lý</th>
        </thead>
        <tbody>
            {%for service in all_admin%}
            <tr>
                <td>{{loop.index}}</td>
                <td>{{service.name}}</td>
                <td>{{service.job}}</td>
                <td>{{service.company}}</td>
                <td>{{"Nam" if service.gender else "Nữ"}}</td>
                <td>{{service.phone}}</td>
                <td>{{service.measurement}}</td>
                <td>{{service.description}}</td>
                <td>{{service.email}}</td>
                <td>
                    <a href="{{url_for('edit', service_id=service.id)}}">Sửa</a>
                    <a href="{{url_for('delete', service_id = service.id)}}">Xóa</a>
                </td>
                    
                <td>
                    <a href="">Đồng ý</a>
                    <a href="">Từ chối</a>
                </td>
            </tr>
    
            {%endfor%}
        </tbody>
    </table>
</body>
</html>