<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script>
    {% include 'metadata.html'%}
</head>
<body>
    <h1 class="font-lobster text-center">Đây là thông tin của người đó</h1>
    <p class="font-lobster text-center d-5">Hãy cẩn thận mà chọn nha!!! Nóng nảy là dễ.... :)))</p>
    <div class="font-anton text-center">
        <p>Tên: {{service.name}}</p>
        <p>Công Việc: {{service.job}}</p>
        <p>Công ty: {{service.company}}</p>
        <p>Miêu tả: {{service.description}}</p>
        <p>SDT: {{service.phone}}</p>
        <p>Tình Trạng: {{"Rảnh" if service.status else "Bận"}}</p>
        <p>Email: {{service.email}}</p>
        <p>Số đo 3 vòng: {{service.measurement}}</p>
    <button class="btn btn-lg btn-outline-primary text-center text-light">
        <a href="{{url_for('index')}}">Home</a>
    </button>
    <button class="btn btn-lg btn-outline-primary text-center text-light">
        <a href="">Back</a>
    </button>


        
            
    </div>

</body>
</html>