<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script>
</head>
<body>
    <form method = 'post'>
        <label>Tên </label>
        <input type="text" name = "name" >
        <br>
        <label>Công Việc</label>
        <input type="edit" name="job">
        <br>
        <label>Công Ty</label>
        <input type="text" name="company">
        <br>
        <label>Giới Tính</label>
        <input type="radio" name="gender" value="Nam">Nam
        <input type="radio" name="gender" value="Nữ">Nữ
        <br>
        <label>Email</label>
        <input type="text", name="email">
        <br>
        <label>SDT</label>
        <input type="text", name="phone">
        <br>
        <label>Miêu tả</label>
        <input type="text">
        <br>
        <input type="submit", value="Thay Đổi">

    </form>
    

</body>
</html>