<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Mùa Đông Không Lạnh</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {%include 'metadata.html' %}
</head>
<body>
    {% include 'homepage/navi.html' %} 
    {%include 'homepage/carousel.html' %}
    {% include 'homepage/choose.html' %}
    {% include 'homepage/vote.html' %}
    {% include 'homepage/service.html' %}
    <footer class="text-center w-100 p-3 bg-dark text-white font-anton">@design by Nam</footer>
</body>
</html>